html, body{
  width:100%;
  height:100%;
  margin:0;
  padding: 20px;
}



.error {
	color: red;
}

.label{
	color: #0d26a8;
}

#content {
	margin: 20px;
}

#addFormPC, #updateFormPC, #addFormEmp, #updateFormEmp {
	display: none;
}

body {
	background: #C4BC9C;
}

#container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
    padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 525px;
	min-height: 580px;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/283591/login-background.jpg);
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);

}
.login{
		content: '';
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(ellipse at left bottom, rgba(22, 24, 47, 0.6) 0%,rgba(38, 20, 72, 0.61) 59%, rgba(17, 27, 75, 0.71) 100%);
	box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
}

/* Bordered form */
#connectForm {
	width: 100%;
	padding: 30px;
	border: 1px solid #f1f1f1;
background: #f6e8e8ab;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
	text-align: center;
	color: #fff;
}

/* Full-width inputs */
#connectForm input[type=text], #connectForm input[type=password] {
	width: 100%;
padding: 10px 10px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius:80px;
}

/* Set a style for all buttons */
#connectForm input[type=submit] {
	background-color: #53af57;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius:80px;
	height:48px;
}

#connectForm input[type=submit]:hover {
	background-color: white;
	color: #53af57;
	border: 1px solid #53af57;
}

.formDelete {
	display: inline-block;
}

#btnDisconnect {
	position: absolute;
	right: 5%;
}

/*popup form salarie*/
blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

a.btn {
	width: 150px;
	display: block;
	margin: -25px 0 0 -75px;
	padding: 1em 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font: 1.125em 'Arial', sans-serif;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	background: rgba(217, 67, 86, 1);
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(128, 115, 90, 0.48);
	visibility: hidden;
	opacity: 0;	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
}

.modalCreer {
	width: 600px;
	height: 420px;
	display: block;
	margin: 50% 0 0 -300px;
	position: relative;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
}

.modal-wrapper.open .modalCreer {
	margin-top: -200px;
	opacity: 1;
}

.head {
	height: 32px;
	padding: 1.5em 5%;
	overflow: hidden;
	background: #01bce5;
}

.btn-close {
	display: block;
	float: right;
	position: relative;
	bottom: 15px;
	height: 40px;
}

.btn-close::before, .btn-close::after {
	content: '';
	width: 32px;
	height: 6px;
	display: block;
	background: #fff;
}

.btn-close::before {
	margin-top: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.btn-close::after {
	margin-top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-title {
	line-height: 0.2;
	color:#fff;
}


#popupAdd{
	background: #fff;
	color: #000042;
	
}


#popupFilter{
	background: #fff;
	color: #000042;
	border: none;
	
}

#FormFiche{
	background:#0000;
	border-color :1px #027d32;
	
}


#btnSave{
	
	background-color: #048a25;
	border: 0px;
}

	
